body {
    background-color: #fff;
    color: #333;
    font: 1em / 1.4 Helvetica Neue, Helvetica, Arial, sans-serif;
    padding: 1em;
    margin: 0;
  }

  * {
    box-sizing: border-box;
  }

  button,
  input,
  select {
    font-family: inherit;
    font-size: 100%;
    padding: 0; margin: 0;
  }

  ul{
    list-style: none;
  }

  input[type="radio"]{
    position: relative;
    appearance: none;
    border: 1px solid #000;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 5px;
  }

  input[type="radio"]:checked{
    border: 2px solid rgb(6, 88, 34);
    background-color: rgb(34, 122, 24);
  }

  li{
    display: flex;
    align-items: center;
    padding: 5px;
  }

  label{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin: 5px;
    padding-top: 2px;
  }