
.form-container{
    background-color: rgb(218, 218, 218);
    border-radius: 15px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.my-form{
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: right;
    margin-left: auto;
    margin-right: auto;
    width:fit-content;
}

.submit-button{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    padding: 5px 8px 5px 8px;
    border-radius: 5px;
    background-color: rgb(76, 76, 76);
    color: white;
}

.submit-button:hover{
    background-color: white;
    color: rgb(76, 76, 76);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }

  .name,.email,.textarea{
    width:250px;
  }

  label{
    display: inline-block;
    align-self: flex-start;
  }

  .message-label{
    vertical-align: top;
  }